[core]
	editor = "code --wait"
[diff]
	tool = vscode
[rebase]
	tool = vscode
[difftool "vscode"]
	cmd = "code --wait --diff $LOCAL $REMOTE"
[push]
	autoSetupRemote = true
[alias]
	open = "!f() { \
		local URL=$(git remote show origin | grep Fetch.URL) ; \
		if [[ $URL =~ "@(.+):(.+).git" ]] ; then \
			open "https://${BASH_REMATCH[1]}/${BASH_REMATCH[2]}/$1" ; \
		elif [[ $URL =~ "(http.+).git" ]] ; then \
			open "${BASH_REMATCH[1]}/$1" ; \
		else \
			echo "Could not extract remote url from $URL" ; \
		fi \
	}; \
	f"
	unstage = restore --staged
[init]
	defaultBranch = main
[commit]
	gpgsign = false
[merge]
	tool = vscode
[user]
	name = syhner
	email = 71605633+syhner@users.noreply.github.com
[includeIf "gitdir:~/repos/work/"]
	path = .gitconfig-work
[credential]
	helper = osxkeychain
	# helper = store (linux)
	# helper = wincred (windows)
